@model IEnumerable<Online_Cloth_Ordering.ViewModel.Cart>

@{
    ViewData["Title"] = "viewCart";
}

<h1>View Cart</h1>

<div >
    <a class="btn btn-primary" asp-action="buy" >Buy</a> |
    <a class="btn btn-primary" asp-action="Index">Back to Home</a>
</div>
<br />
<p class="text-danger text-center">@ViewBag.Result</p>
<br />

<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrices)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrices)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CartId">Edit</a> |
             
                <a asp-action="Delete" asp-route-id="@item.CartId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


       